body {
  background-color: #eee;
}

.user-img {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  border-radius: 45px;
  margin-bottom: -15px;
  margin-right: 7px;
}

.chimp {
  background-image: url("../images/monkey.jpeg");
}

.user-name {
  font-weight: bold;
}

.user-info {
  margin-bottom: 5px;
  padding: 15px;
}

.likes {
  font-size: 90%;
}

.mona {
  background-image: url("../images/mona.jpeg");
}

.panel-default .block-content {
  background-color: white;
}

.form-inline .user-img {
  height: 30px;
  width: 30px;
  margin-bottom: -10px;
  margin-right: 12px;
}

.form-control {
  background-color: #eee
}
